* {
    box-sizing: border-box;
}

body {
    background-color: #f0e4d7;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /* Prevent scrollbars */
    font-size: 18px;
    /* Increased base font size for bigger UI */
}

/* Screens */
.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease;
}

.screen.hidden {
    display: none;
    opacity: 0;
}

.screen.active {
    opacity: 1;
}

.hidden {
    display: none !important;
}